* {
  padding: 0;
  margin: 0;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
  color: #4b122d;
}
a {
  text-decoration: none;
}
h1 {
  font-family: "Darumadrop One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}
/********************************************************************************/
/*HEADER*/
/********************************************************************************/

.header {
  background-color: #edf1cb;
  height: 7rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  text-transform: uppercase;
  padding-left: 10%;
  padding-right: 10%;
}
.logo_header_img {
  border: 2px solid white;
  width: 250px;
}

/********************************************************************************/
/*FOOTER*/
/********************************************************************************/
.footer {
  background-color: #edf1cb;
  display: flex;
  height: 12rem;
  width: 90%;
  padding-inline: 5%;
  margin-top: 2rem;
}
.footer_left {
  align-content: center;
  width: 50%;
}
.logo_footer_img {
  border: 2px solid white;
  width: 230px;
}
.footer_icons_box {
  display: flex;
  justify-content: space-between;
  width: 230px;
}
.footer_icons {
  font-size: 1.8rem;
}
.nav_footer_header {
  font-family: "Darumadrop One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 3rem;
}
.nav_footer {
  line-height: 1.5rem;
}
.footer_right {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-left: 25rem;
}
.footer_right_one {
  text-align: center;
  align-content: center;
}
.footer_right_two {
  text-align: center;
  align-content: center;
}
.footer_right_three {
  text-align: center;
  align-content: center;
}

/********************************************************************************/
/*INDEX.HTML*/
/********************************************************************************/

.top_img_front {
  background-image: url(images/exhibition-1863344_1920.jpg);
  height: 50rem;
  width: 100%;
  background-size: cover;
}
.side_box {
  background-color: #dfecf9;
  width: 40%;
  height: 30rem;
  padding: 2rem;
  padding-top: 3rem;
  margin-left: 4rem;
  margin-top: -30rem;
  font-size: 1.5rem;
  align-content: center;
  position: absolute;
}
.side_box_text {
  text-align: center;
  padding: 0.8rem;
  line-height: 3rem;
}
.box_top {
  height: 45rem;
  width: 100%;
  background-color: #d6d96b;
  display: flex;
  justify-content: center;
}
.box_top_img {
  width: 100%;
}
.box_top_left {
  width: 45rem;
  align-content: center;
  text-align: center;
  padding-inline: 5rem;
}
.box_top_right {
  width: 45rem;
  align-content: center;
  padding-inline: 5rem;
}
.box_top_text {
  font-size: 1.5rem;
  margin-top: 2rem;
  line-height: 3rem;
}
.button_explore {
  background-color: #a34d74;
  color: white;
  font-family: "Darumadrop One", serif;
  font-weight: 400;
  font-style: normal;
  height: 3.5rem;
  width: 10rem;
  border: none;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 2rem;
}
.three_boxes {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-inline: 5%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.box_one {
  object-fit: cover;
  overflow: hidden;
  height: 19rem;
}
.box_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f89a5a;
  width: 30rem;
  height: 19rem;
}
.box_three {
  height: 19rem;
  overflow: hidden;
}
.icon_youtube {
  color: #edf1cb;
  width: 10rem;
  height: 10rem;
  align-self: center;
}
.box_two_txt {
  color: #edf1cb;
  font-family: "Darumadrop One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
}
.three_box_img {
  width: 30rem;
}
.front_box_txt {
  background-color: #dfecf9;
  height: 25rem;
  width: 100%;
  align-content: center;
}
.front_txt {
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
  padding-inline: 4rem;
  padding-bottom: 5rem;
}
.sentered_img_top {
  width: 90%;
  margin-inline: 5%;
  height: 40rem;
  object-fit: cover;
  margin-top: -5rem;
}
.txt_section_front {
  background-color: #dfecf9;
  text-align: center;
  align-content: center;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.txt_section_header {
  padding-bottom: 1rem;
  padding-top: 3rem;
}
.txt_section_txt {
  line-height: 3rem;
  padding-inline: 4rem;
}
.sentered_img {
  width: 90%;
  margin-inline: 5%;
  height: 25rem;
  object-fit: cover;
}

/********************************************************************************/
/*CONTACT.html*/
/********************************************************************************/

.exhibit_welcome {
  color: #edf1cb;
  font-family: "Darumadrop One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  text-align: center;
}
.exhibit_welcome_under {
  font-size: 2.5rem;
}
.top_opening_hours {
  width: 90%;
  padding-inline: 5%;
  display: flex;
  height: 35rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #a34d74;
}
.opening_hours_h1 {
  color: #a34d74;
  padding-bottom: 2rem;
}
.opening_hours {
  width: 35%;
  background-color: #dfecf9;
  text-align: center;
  align-content: center;
}
.opening_hours_txt {
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
  color: #a34d74;
}
.top_opening_hours_img {
  width: 65%;
  overflow: hidden;
  padding-left: 2rem;
}
.opening_hours_img {
  width: 100%;
  object-fit: cover;
}
.txt_section_contact {
  background-color: #d6d96b;
  text-align: center;
  align-content: center;
  width: 90%;
  padding-inline: 5%;
  padding-top: 3.5rem;
  padding-bottom: 7.5rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 3rem;
}
.txt_section_header_contatct {
  padding-bottom: 1rem;
  padding-top: 3rem;
}
.txt_section_txt_contact {
  line-height: 3rem;
  padding-inline: 4rem;
}
.contact_form {
  margin-top: 2rem;
  background-color: #bed4ee;
  display: flex;
  flex-direction: column;
  line-height: 3rem;
  font-size: 1.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
  width: 90%;
  padding-inline: 5%;
}

.form_box {
  display: flex;
  justify-content: space-between;
}

.form_label {
  padding-right: 3rem;
}

.input_all {
  width: 80%;
  border: none;
}

.button_submit {
  text-align: center;
}

.form_h1 {
  text-align: center;
  padding-bottom: 2rem;
}

input {
  width: 50%;
  height: 1.5rem;
  border: none;
}

.img_boxes_contact {
  width: 90%;
  padding-inline: 5%;
  display: flex;
  height: 20rem;
}
.boxes_contact {
  width: 35%;
  background-color: #f89a5a;
  text-align: center;
  align-content: center;
  color: #edf1cb;
}
.h1_contact {
  font-size: 5rem;
  color: #edf1cb;
}
.txt_contact {
  font-size: 2rem;
  font-family: "Darumadrop One", serif;
  font-weight: 400;
  font-style: normal;
  color: #edf1cb;
}
.contact_img {
  width: 65%;
  overflow: hidden;
  padding-left: 2rem;
}
.contact_img_img {
  width: 100%;
  object-fit: cover;
}

/********************************************************************************/
/*EXHIBITIONS.html*/
/********************************************************************************/

.txt_section_exhibition {
  background-color: #d6d96b;
  text-align: center;
  align-content: center;
  width: 90%;
  padding-inline: 5%;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 3rem;
}
.txt_section_header_exhibition {
  padding-bottom: 1rem;
  padding-top: 3rem;
}
.txt_section_txt_exhibition {
  line-height: 3rem;
}
.txt_exhibition_two {
  background-color: #dfecf9;
  padding-top: 1rem;
}
.txt_exhibition_three {
  padding-top: 1rem;
  padding-bottom: 7rem;
}
.sentered_img_exhibit {
  height: 50rem;
}
.exhibit_boxes {
  width: 90%;
  padding-inline: 5%;
  display: flex;
  margin-top: 2rem;
}
.exhibit_box_txt {
  width: 65%;
  background-color: #f89a5a;
  color: #edf1cb;
  text-align: center;
  align-content: center;
  height: 20rem;
  font-family: "Darumadrop One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  padding-inline: 4rem;
}
.exhibit_box_img {
  width: 35%;
  overflow: hidden;
  padding-left: 2rem;
  height: 45rem;
}
.exhibit_img {
  width: 100%;
  object-fit: cover;
}
.txt_section_below {
  background-color: #bed4ee;
  width: 90%;
  padding-inline: 5%;
  font-size: 1.5rem;
  line-height: 3rem;
  margin-top: -22rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.section_left {
  width: 65%;
  padding-right: 35%;
  text-align: center;
  padding-bottom: 3rem;
}
.txt_section_below_h1 {
  padding-bottom: 3rem;
}
.txt_section_below_header {
  padding-bottom: 1rem;
}
.txt_below {
  text-align: center;
  padding-bottom: 3rem;
}
.txt_below_header {
  padding-bottom: 1rem;
}
.button_exhibit {
  width: 15rem;
}
.sentered_box {
  text-align: center;
}
.bottom_img {
  width: 90%;
  padding-inline: 5%;
  height: 30rem;
  object-fit: cover;
  padding-top: 2rem;
}

/********************************************************************************/
/*CONTRIBUTION.html*/
/********************************************************************************/

.top_img {
  width: 100%;
  height: 50rem;
  object-fit: cover;
  padding-bottom: 2rem;
}
.txt_section_contribute {
  background-color: #bed4ee;
}
.three_img {
  width: 90;
  padding-inline: 5%;
  display: flex;
  justify-content: space-between;
}
.images_contribution {
  overflow: hidden;
  height: 40rem;
  width: 30rem;
  object-fit: cover;
}
.txt_section_contribute2 {
  background-color: #dfecf9;
  margin-top: 2rem;
  padding-top: 0.5rem;
}
.quote_museum {
  background-color: #f89a5a;
  text-align: center;
  width: 90%;
  margin-inline: 5%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.quote_header {
  font-family: "Darumadrop One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: #edf1cb;
  line-height: 3rem;
  padding-bottom: 3rem;
  padding-inline: 2rem;
}
.quote_txt {
  color: #edf1cb;
  font-size: 2.5rem;
}

/********************************************************************************/
/*DOCUMENT.html*/
/********************************************************************************/

.top_img2 {
  height: 40rem;
}
.policy_boxes {
  width: 90;
  padding-inline: 5%;
  display: flex;
  justify-content: space-between;
}
.policy_boxes_img {
  overflow: hidden;
  height: 50rem;
  width: 30rem;
  object-fit: cover;
  margin-bottom: 2rem;
}
.policy_box_link {
  height: 24rem;
  width: 30rem;
}
.link_one {
  background-color: #f89a5a;
  margin-bottom: 2rem;
  text-align: center;
  align-content: center;
  padding-inline: 1rem;
}
.link_two {
  background-color: #a34d74;
  text-align: center;
  align-content: center;
  padding-inline: 1rem;
}
.terms_box {
  color: white;
}
.button_other_color {
  background-color: #bed4ee;
}
.txt_document_h1 {
  padding-bottom: 0rem;
}
.txt_document {
  font-size: 2rem;
  padding-bottom: 5rem;
}

/********************************************************************************/
/*PRIVACY.html*/
/********************************************************************************/

.document_img {
  width: 90%;
  padding-inline: 5%;
  height: 20rem;
  object-fit: cover;
  padding-top: 2rem;
}
.document_info {
  background-color: #dfecf9;
  text-align: center;
  line-height: 3rem;
  width: 90%;
  padding-inline: 5%;
  padding-bottom: 3rem;
  padding-top: 6rem;
  margin-top: -3rem;
}
.document_header {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.document_info_txt {
  padding-bottom: 2rem;
}
.button_privacy {
  background-color: #f89a5a;
}

/********************************************************************************/
/*TERMS.html*/
/********************************************************************************/
